body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5%;
    margin-right: 5%;
}

header {
    background-color: red;
    color: white;
    margin-top: 1%;
    padding: 0.5%;
    display: flex;
    justify-content: center;
}

/* Home */
.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.goTo-newsfeed-btn {
    margin-top: 25%;
    width: 100%;   
    height: 8vh;    
    background-color: red;
    border: 0.6vh solid red;
    color: white;
    border-radius: 1vh;
    font-weight: 600;
    font-size: x-large;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;   
}

/* Newsfeed */
.newsfeed-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}


.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 50vh;
    padding-top: 1%;
}

.avatar-img {
    width: 50%;
    height: 50%;
    border-radius: 50%;
    padding-bottom: 10%;
    background-color: hsla(0, 0%, 81%, 0.514);
    margin: 10%;
}

.navBar-btn-wrapper {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin: 5%;
}

.navBar-btn {
    width: 100%;   
    height: 8vh;    
    background-color: red;
    border: 0.6vh solid red;
    color: white;
    border-radius: 1vh;
    font-weight: 600;
    font-size: x-large;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    
}

/* ListArticles */
.listArticles-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.comments-row-wrapper {
    border: 0.3vh solid grey;
    margin: 1%;
    padding: 1%;
    display: flex;
    flex-direction: row;
}

.comments-row {
    flex: 1;
    display: flex;
    flex-direction: row;   
    justify-content: space-between;
}

.comments-column {
    flex: 2;
    display: flex;
    flex-direction: column;
    margin: 1.5%;
    text-align: left;
}


.comments-votes-row {
    display: flex;
    flex-direction: row;
    justify-content: right;
    text-align: right;
}

.comments-size {
    width: 80%;
}

.votes-count {
    width: 100%;
    margin: 1%;
    padding: 5%;
}

.delete-btn {
    background-color: rgb(211, 0, 0);
    border: 0.1vh solid rgb(182, 1, 1);
    border-radius: 10%;
    margin: 1%;
    font-size: large;
    color: white;    
}

.delete-btn:hover {
    background-color: rgb(245, 49, 49);
    border: 0.1vh solid rgb(245, 49, 49);
    cursor: pointer;
}

.delete-btn:active {
    background-color: rgb(182, 0, 0);
    border: 0.1vh solid rgb(182, 0, 0);
    cursor: pointer;   
}

/* ArticleCard */

.article-card {
    padding: 3%;
    margin-bottom: 1%;
    margin-top: 1%;
    background-color: antiquewhite;
    /* border: 0.1vh solid black; */
    cursor: pointer;
}

.article-vote-btn {
    border: none;
    background-color: antiquewhite;
    border-radius: 15%;
    color: limegreen;
    font-size: 250%;
}

/* Article page */
.back-btn {
    margin-top: 3%;
    width: 15%;   
    height: 8vh;    
    background-color: red;
    border: 0.6vh solid red;
    color: white;
    border-radius: 1vh;
    font-weight: 600;
    font-size: x-large;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    margin-bottom: 3%;
}

.article-container {
    background-color: antiquewhite;
    padding: 3%;
}

.topic-date-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.article-image {
    margin-top: 3%;
}

.article-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    gap: 1rem;
}

.article-btn-row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.vote-btn {
    border: none;
    background-color: grey;
    border-radius: 15%;
    color: white;
    font-size: 250%;
    cursor: pointer;
}

.vote-btn:disabled {
    cursor: not-allowed;
}

.upvote-btn:hover:not(:disabled) {
    background-color: limegreen;
}
.downvote-btn:hover:not(:disabled) {
    background-color: red;
}

.upvote-btn:active:not(:disabled) {
    background-color: white;
    color: limegreen;
}
.downvote-btn:active:not(:disabled) {
    background-color: white;
    color: red;
}

.comment-field {
    border: none;
    margin: 1%;
    resize: none;
}

.comments-btn {
    border: none;
    background-color: antiquewhite;
    border-radius: 10%;
    color: grey;
    font-size: 250%;
}

.comments-avatar {
    width: 10%;
    height: 10%;
}